@{
    ViewBag.Title = "InfoPage";
}

<h2>Infoseite</h2>

<div style="font-size:larger; text-align:justify; margin-right:10px">
    <div>
        <p>Liebe Gäste,</p>
        <p>
            wir danken Ihnen, dass Sie sich bei uns registriert haben. Mit unserem Mitagessen-Service bieten wir Ihnen frisches gesundes Essen für einen günstigen Preis an.
            <b>Eine Mahlzeit kostet 4 Euro</b>, enthält meistens Salat und eine ausreichende Menge an Nahrung.
            Wir versuchen hier die wichtigsten Fragen zu beantworten. Falls Sie noch eine Frage haben, schreiben Sie uns bitte an die E-Mail-Adresse <b>dusan.dudo@gmail.com</b>.
        </p>
    </div>
    <div>
        <h3>Was sollte mich motivieren zu kommen</h3>
        <p>            
            Die Nahrungsmitteln werden meistens am vorrigen Tag gekauft und die Mahlzeiten werden immer frisch vorbereitet. 
            Innerhalb der Woche versuchen wir eine ausgewogene Menge vom Fleisch und Gemüse anzubieten. 
        </p>
        <p>
            Viele Mahlzeiten sind vegetarisch, oder haben eine vegetarische Variation.
            Durch die verschiedene Variationen können Sie oft Ihre Mahlzeit Ihren eigenen Wünschen anpassen.
        </p>
        <p>
            Fragen Sie Ihre Kollegen, die uns schon besucht haben, oder kommen Sie einfach vorbei und probieren Sie unseren Service selbst aus.
        </p>
    </div>
    <div>
        <h3>Wo und wann finden die Mittagessen statt:</h3>
        <p>        
            Sie finden uns <b>in der Küche im Erdgeschoss</b>. Gehen Sie einfach in die Tür neben der Bank im Hof und dann in die Tür auf der linken Seite.            
        </p>
        <p>
            Das Mittagessen findet um <b>12:30</b> immer am <b>Dienstag</b>, <b>Mittwoch</b> und <b>Donnerstag</b> statt.
        </p>
    </div>
    <div>
        <h3>Wie kann ich mich anmelden:</h3>
        <p>
            Die Anmeldung ist auf der Homepage möglich. Sehen Sie sich einfach die Mahlzeiten an und melden Sie sich mit dem Knopf <i>Anmelden</i>.
            Mit dem Knopf <i>Optionen</i> können Sie sich die Zutaten anschauen oder eine bestimmte Variation auswählen.
        </p>
    </div>
    <div>
        <h3>Wie kann ich für die Mittagessen zahlen:</h3>
        <p>
            Sie können an der Rezeption beim Empfang die Mittagessen-Chips kaufen und diese dann für die Mahlzeiten austauschen. 
            Falls Sie aber unseren Service nur ausprobieren möchten, können Sie Ihren ersten Chip auch bei uns direkt kaufen.
        </p>
    </div>
    <div>
        <h3>Was sollte ich noch wissen:</h3>
        <h5>Die Mahlzeit mitnehmen</h5>
        <p>
            Die Mahlzeit können Sie mit den anderen Gästen direkt in der Küche essen, oder mitnehmen. Im zweiten Fall hilft uns sehr wenn Sie einen sauberen Teller mitbringen. 
        </p>
        <h5>E-Mail-Benachrichtigung</h5>
        <p>
            Am Anfang der Woche erhalten Sie von uns an Ihre E-Mail-Adresse eine E-Mail mit Fotos und kurzen Beschreibungen der aktuellen Mahlzeiten.
        </p>
        <h5>Mahlzeit-Bewertung</h5>
        <p>
            Kurz nach dem Mittageseen können Sie die Mahlzeit direkt auf der Homepage bewerten.
        </p>
    </div>
</div>
