html 
{
    height:100%;
	width:100%;
}

body {
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, left top, right top, from(#9e9621), to(#1daca0));

	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(left, #9e9621, #1daca0);

	/* Firefox 3.6+ */
	background: -moz-linear-gradient(left, #9e9621, #1daca0);

	/* IE 10 */
	background: -ms-linear-gradient(left, #9e9621, #1daca0);

	/* Opera 11.10+ */
	background: -o-linear-gradient(left, #9e9621, #1daca0);
	height:100%;
	width:100%;
}
		
body .back-div {	  					  
	background-image: url(../images/pozadie.svg);
    width: 100%;
    height: 100%; 
    z-index: -1;
    position: fixed; 
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #d8ef90;
}

.meal {
    height: 325px;
    width:270px;
    padding:10px;
    position:relative;
    float:left;
}
    
.meal img {
    width:250px;
}

.meal-name {
    min-height:40px;
}

.meal-small {
    width:100px;
    padding:10px;
    position:relative;
    float:left;
}
    
.meal-small img {
    width:80px;
}

.input-validation-error {
    border-color: #e9322d !important;
    clear: both;
}
    
.field-validation-error {
    color: #b94a48;
}

.required label:after
{
    content:"*";
    color:#ff0000;
    font-size:larger;
    margin-left:3px;
}    

.enrolled-msg {
    margin:5px;
    color:Green;
    font-weight:bold;
    font-style:oblique;
    font-size:120%;
}

.disenrolled-msg {
    margin:5px;
    color:Red;
    font-weight:bold;
    font-style:oblique;
    font-size:120%;
}

.termin-full-msg {
    margin:5px;
    font-weight:bold;
    font-style:oblique;
    font-size:120%;
}

.termin-past-msg {
    margin:5px;
    font-weight:bold;
    font-style:oblique;
    font-size:120%;
}

.user-enrolled-msg {
    float:right;
    margin-right:10px;
    margin-top:10px
} 

.header-text {
    font-size:32px;
    font-family:Georgia;
    margin-bottom:20px;
    margin-top:20px
}

.check-box-input {
    clear: left;
}
    
.check-box-input label {
    float: left;
    width: 100px;
}

.check-box-input input {
    float: left;
    margin-right: 5px;
}

.form-submit 
{
    clear:both;
    margin-top: 2em;
}