.meal {
    height:300px;
    width:300px;
    padding:10px;
    position:relative;
    float:left;
}
    
.meal img {
    width:280px;
}

.input-validation-error {
    border-color: #e9322d;
    border-width: 2px;
    border-style: solid;
    clear: both;
}
    
.field-validation-error {
    color: #b94a48;
}
    
.requiredIndicator {
    display: block;
}

.enrolled-msg {
    margin:5px;
    color:Green;
    font-weight:bold;
    font-style:oblique;
    font-size:120%;
}