@model IEnumerable<Mittagessen.Data.Entities.Meal>

@{
    ViewBag.Title = "Meals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gerichte</h2>

@foreach (var meal in Model)
{
    <div class="meal">
        <a href='@Url.Action("Details", new { id = meal.Id })'>
            <img alt="@meal.Name" src="@meal.ImageName" />
            <span>@meal.Name</span>
        </a>
    </div>
}

