@model IEnumerable<Mittagessen.Data.Entities.Meal>

<style type="text/css">
    .meal {
        height:100px;
        width:100px;
    }
</style>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })

@foreach (var meal in Model)
{
    <div class="meal">
        <span>@meal.Name</span>
        <span>@meal.Description</span>
    </div>
    <br />
}
