@model Mittagessen.Web.Models.PasswordChangeModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>Passwordänderung</h2>

@using(Html.BeginForm())
{
    @Html.EditorForModel()

    <div>
        <input type="submit" class="btn btn-primary" value="Speichern" />
    </div>
}