@model Mittagessen.Web.Models.LoginModel

@{
    Layout = null;
}

<style type"text/css">
    #RememberLogin 
    {
        margin-top:-5px;
    }
</style>

<div class="header-text">Login</div>

@using(Html.BeginForm("Login", "Account"))
{
    @Html.EditorForModel()
   
    <div style="margin-top:15px">
        <input type="submit" value="Login" class="btn btn-primary" />    
    </div>
}

