@model Mittagessen.Web.Models.LoginModel
           
@{
    ViewBag.Title = "Login";
    Layout = "_Layout.cshtml";
}

<style type"text/css">
    #RememberLogin 
    {
        margin-top:-5px;
    }
</style>

<div class="span8" style="padding-left:30px">

    <div class="header-text">Login</div>

    @using (Html.BeginForm("Login", "Account"))
    {
        @Html.EditorForModel()
   
        <div style="margin-top:15px">
            <input type="submit" value="Login" class="btn btn-primary" />    
        </div> 
    }

</div>

  