@model Mittagessen.Web.Models.LoginModel

@{
    Layout = null;
}

<div class="header-text">Login</div>

@using(Html.BeginForm("Login", "Account"))
{
    @Html.EditorForModel()

    <div class="check-box-input">
        @Html.EditorFor(m => m.RememberLogin)
        @Html.LabelFor(m => m.RememberLogin)
        @Html.ValidationMessageFor(m => m.RememberLogin)
    </div>
   
    <div class="form-submit">
        <input type="submit" value="Login" class="btn btn-primary" />    
    </div>
}

