@{
    ViewBag.Title = "Login";
    Layout = "_Layout.cshtml";
}

<style type="text/css">
    .field-validation-error {
        display:block !important;
    }
</style>

<div style="width: 25em; float: left">
    @Html.Action("LoginPartial")
</div>

<div style="width: 25em; float: right">
    @Html.Action("RegistrationPartial")
</div>           

