@{
    ViewBag.Title = "Login";
    Layout = "_Layout.cshtml";
}

<style type="text/css">
    .field-validation-error {
        display:block !important;
    }
</style>


<div class="span4" style="padding-left:30px">
    @Html.Action("LoginPartial")
</div>
<div class="span2"></div>
<div class="span4" style="padding-left:30px">
    @Html.Action("RegistrationPartial")
</div>           

