@model Mittagessen.Web.Models.RegistrationModel

@{
    ViewBag.Title = "Registration";
    Layout = "_Layout.cshtml";
}

<div class="span16" style="padding-left:30px">

    @Html.Partial("RegistrationPartial", Model)

</div>