@model Mittagessen.Web.Models.RegistrationModel

@{
    Layout = null;
}

<div class="header-text">Registrierung</div>

@using (Html.BeginForm("Registration", "Account", FormMethod.Post, new { id = "registration-form" }))
{
    @Html.EditorForModel()
   
    <input type="submit" value="Register" class="btn btn-primary"  />    
}

