@model Mittagessen.Data.Entities.User

@{
    ViewBag.Title = "RequestPasswordResetConfirmation";
    Layout = "_Layout.cshtml";
}

<div class="span9" style="background-color: #e4fd98; height: 300px; padding: 20px; border-radius: 15px" >   
    @if (Model != null)
    {
        <h2>Bestätigung</h2>
        <div style="font-size: 18px; font-family: Georgia; text-align: justify; margin-top: 20px">
            <b>An die Adresse '@Model.Email' wurde eine E-Mail geschickt. Folgen Sie bitte die Anleitung.</b>
        </div>
    }
    else
    {
        <h2>Fehler</h2>
        
        <div style="font-size: 18px; font-family: Georgia; text-align: justify; margin-top: 20px">
            <b>Der Benutzer konnte leider nicht gefunden werden.</b>
        </div>       
    }
</div>

