@{
    ViewBag.Title = "Kennwort zurücksetzen";
    Layout = "_Layout.cshtml";
}

<div class="span9" style="background-color:#e4fd98;height:300px;padding:20px;border-radius: 15px" >
    <h2>Kennwort zurücksetzung anfordern</h2>

    @using (Html.BeginForm("RequestPasswordResetConfirmation", "Account", FormMethod.Post))
    {
        <div>
            @Html.Label("Geben Sie bitte Ihren Namen oder Ihre E-Mail-Adresse ein:")
            @Html.TextBox("email")        
        </div>
        <input value="E-Mail senden" type="submit" class="btn btn-primary"/>
    }
</div>
