@model Mittagessen.Data.Entities.User

@{
    ViewBag.Title = "PasswordResetConfirmation";
    Layout = "_Layout.cshtml";
}

<div class="span9" style="background-color: #e4fd98; height: 300px; padding: 20px; border-radius: 15px" >
    @if (Model != null)
    {
        <h2>Bestätigung</h2>
        
        <div style="font-size: 18px; font-family: Georgia; text-align: justify; margin-top: 20px">
            <b>
                <p>
                    Das Password für den Benutzer '@Model.Name' wurde gesetzt.
                </p>
                <p>
                    Sie können sich gleich anmelden: @Html.ActionLink("Anmeldung", "Login", "Account")                
                </p>
            </b>
        </div>
    }
    else
    {
        <h2>Fehler</h2>

        <div style="font-size: 18px; font-family: Georgia; text-align: justify; margin-top: 20px">
            <b>Der Benutzer konnte leider nicht gefunden werden.</b>
        </div>        
    }
</div>

