@model Mittagessen.Web.Models.PasswordResetModel

@{
    ViewBag.Title = "Neues Passwort setzen";
    Layout = "_Layout.cshtml";
}

<div class="span9" style="background-color:#e4fd98;height:300px;padding:20px;border-radius: 15px" >
    <h2>Neues Passwort setzen</h2>

    @using (Html.BeginForm("ResetPasswordConfirmation", "Account", FormMethod.Post))
    {
        <div>
            @Html.EditorFor(m => m)
        </div>
        <input value="Passwort setzen" type="submit" class="btn btn-primary"/>
    }
</div>

